a{
  text-decoration: none;
}
ul {
    list-style: none;
}
.inner_c {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    /* background: green; */
}
.header {
    font-size: 14px;
    background: #191d3a;
    height: 54px;

}
.header .inner_c .logo {
    width: 200px;
    height: 100%;
    float: left;
}
.header .inner_c .menu {
    width: 605px;

    height: 100%;
    float: left;
}

                            /* header */

.header .inner_c .logo img{
  margin: 10px 30px 5px 16px;
  height: 33px;
}
.header .inner_c .menu ul{
  overflow: hidden;
}
.header .inner_c .menu ul li{
  float: left;
  width: 84px;
  height: 100%;
}
.header .inner_c .menu ul li a.current{
  background-color: #252947;
  color: white;
}
.header .inner_c .menu ul li a{
  display: block;
  height: 54px;
  text-align: center;
  line-height: 54px;
  color: grey;
}
.header .inner_c .menu ul li a:hover{
  color: white;
}
.header .inner_c .menu ul li a.last{
  border: none;
}
.header .inner_c .menu .join_us{
  overflow: hidden;
}
.header .inner_c .join_us .join_us_box{
  float: left;
  margin: 6.5px 0;
  width: 100px;
  height: 37px;
}
.header .inner_c .join_us .join_us_box a{
  height: 37px;
  line-height: 37px;
  background-color: #60b47a;
  display: block;
  color: white;
  font-weight: bolder;
  text-align: center;
  border:1px solid #60b47a;
  border-radius: 10px;
}
.header .inner_c .join_us .join_us_box a:hover{
  background-color: #33cc33;
}
.header .inner_c .join_us {
    width: 167px;
    height: 100%;
    float: right;
}

.blank {
    height: 50px;
}

.footer {
  font-size: 12px;
  height: 90px;
  background: #191d3a;
  overflow: hidden;
}
.footer .inner_c {
  line-height: 90px;
    position: relative;
}
.footer img{
  width: 50px;
  right: 5px;
  top: 50%;
  margin-top: -35px;
  position: absolute;
}
.footer .inner_c .left_box{
  height: 100%;
  float: left;

}
.footer .inner_c .left_box a{
  color: #5e6173;
  display: block;
  float: left;
}
.footer .inner_c .left_box a.footleft{
  padding: 0 10px;
}
.footer .inner_c .left_box a.footright{
  padding-left: 10px;
  border-left: 1px solid #343434;
}
.footer .inner_c span.right_box{
  color: #5e6173;
  float: right;
  display: block;
  width: 612px;
  padding-right: 100px;

}
